aside {
    color: var(--text-200);
    background-color: var(--primary-300);
    top: 0;
    padding: 1rem;
}

.inactiveLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-200);
}

.activeLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-100)
}

.inactiveIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    background-color: var(--primary-200);
    border-radius: var(--rounded-lg);
    color: var(--text-100);
}

.activeIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    border-radius: var(--rounded-lg);
    background-color: var(--bg-100);
    color: var(--primary-300);
}

.dashboard-section h1 {
    color: var(--text-300);
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.add-shooter-btn {
    color: black;
    background-color: var(--bg-200);
    border-radius: var(--rounded-lg);
    padding: 16px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.shooter-card {
    border: 1px solid black;
    border-radius: var(--rounded-lg);
    padding: 16px;
    width: 250px;
    text-align: center;
}

.shooter-card svg {
    position: relative;
    
}