aside {
    color: var(--text-200);
    background-color: var(--primary-300);
    padding: 1rem;
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.2s all;
}

.asideMobile {
    display: none;
}

.section-container {
    margin-left: 160px;
    background-color: white;
    flex-grow: 1;
    border-radius: 0.5rem;
    padding: 2.5rem;
}

@media screen and (max-width: 768px) {
    .asideDesktop {
        display: none;
    }

    .asideMobile {
        display: block;
    }

    aside {
        width: 100%;
    }

    .section-container {
        margin: 0;
    }
}

.inactiveLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-200);
}

.activeLink {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    align-items: center;
    color: var(--text-100)
}

.inactiveIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    background-color: var(--primary-200);
    border-radius: var(--rounded-lg);
    color: var(--text-100);
}

.activeIcon {
    height: 2rem; width: 2rem;
    padding: 0.25rem;
    border-radius: var(--rounded-lg);
    background-color: var(--bg-100);
    color: var(--primary-300);
}

.dashboard-section h1 {
    color: var(--text-300);
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.dashboard-section-title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dashboard-section-title h2 {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
}